/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  clear:both;
}

header {
  font-family: 'Raleway', sans-serif;
  width: 800px;
  margin: auto;
  margin-top: 20px;
}

body {
  font-family: 'Merriweather', serif;
}

.title {
  font-size: 72px;
  margin-bottom: 15px;
  float: left;
}

.logo {

  float: left;
  font-size:36px
}

.english {
  margin-left: 20px;
  width: 200px;
  display: block;
  float: left;
}

.avatar {
  border-radius: 5%;
}

.container {
  display: block;
  width: 700px;
  margin: auto;
  word-wrap: break-word;
}

.quot {
  font-size: 32px;
  line-height: 1.8;
  display: inline-block;
  margin: 10px 0 10px 0;
}

.header-username {
  font-size: 28px;
  margin-bottom: 5px;
}

.header-handle {
  font-size: 22px;
  margin-left: 10px;
}

.front-profile {
  clear: both;
}

.username {
  font-size: 22px;
  margin-bottom: 3px;
}

.handle {
  font-size: 19px;
  font-family: Raleway, sans-serif;
}

.tweet-list {
  list-style: none;
  padding: 0;
}

footer {
  width: 700px;
  margin: auto;
  margin-top: 20px;
  clear:both;
}

.quot-frame {
  margin: 50px;
}

.quot-avatar {
  float: left;
  margin-right: 15px; 
  border-radius: 100%;
}

.requot-person {
  font-size: 14px;
}

.new-quot {
  display: block;
  width: 700px;
  margin: auto;
}

.new-quot > form {
  display: block;
  margin-left: 50px
}

small {
  font-size: 10px
}

.new-quot-textarea {
  font-family: 'Merriweather', serif;
  font-size: 32px;
  resize: none;
  line-height: 1.8;
  border: 4px solid lightgrey;
  padding: 15px;
  color: lightgrey;
}

.post-as {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
  font-size: 32px;
  font-family: Raleway, sans-serif;
}

/*http://stackoverflow.com/questions/17042201/how-to-style-input-and-submit-button-with-css*/

input[type=text], input[type=password] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:10px 35px; 
    background:rgba(203, 204, 224, 0.76); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 30px;
    font-size: 24px;
    font-family: Raleway, sans-serif;
}

input[type=submit]:hover {
  background:rgb(203, 204, 224); 
}

.main-button {
  float: right;
  margin: 10px;
}

.follower-bar {
  float: right;
}

.follower-list {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-family: Raleway;


  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}

.follower-list li {
  float: left;
  background-color: white;
}

.follower-list li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}

.follower-list li a:hover {
  color: orange;
}

 input[type=submit].requot-button {
  font-size: 14px;
  float: right;
}

.register {
  float:right;
  font-size: 72px;
}

.registration-form {
  margin: auto;
  padding-top: 50px;
  width: 400px;
}

.registration-form input {
  font-family: Raleway;
  font-size: 24px;
  display: inline-block;
  width: 400px;
  height: 50px;
  margin: auto;
  margin-bottom: 20px;
}

.registration-form label {
  display: inline-block;
  font-family: Raleway;
  font-size: 24px;
  font-weight: bold;
}

