<% if logged_in? %>
  <span id="username"><%= User.find(session[:id]).first_name %> <%= User.find(session[:id]).last_name %></span>
  <br/>
  <a href="../my_wanderlist">My Wanderlist</a>
  <br/>
  <a href='../logout'>Log out</a>
  <br/>
<% else %>
  <a href='../login'>Log in</a>
  <br/>
  <a href='users/new'>Create account</a>
  <br/>
<% end %>

