<form class="remove-from-wanderlist" action="../my_wanderlist/<%= destination %>" method="POST">
      <input type="hidden" name="_method" value="delete">
      <button class="wanderlist-button selected" type="submit"><!-- Remove from my wander list --></button>
</form>