<form class="add-to-wanderlist" action="../my_wanderlist/<%= @destination %>" method="POST">
        <input type="hidden" name="_method" value="put">
        <button class="wanderlist-button unselected" type="submit"><!-- Add to my wander list --></button>
</form>
