<div class="container account">
  <form action="../users" method="POST">
    <input type="text" name="user[first_name]" placeholder="First name"/><br/><br/>
    <input type="text" name="user[last_name]" placeholder="Last name"/><br/><br/>
    <input type="text" name="user[location]" placeholder="Current city"/><br/><br/>
    <input type="text" name="user[email]" placeholder="Email"/><br/><br/>
    <input type="password" name="user[password]" placeholder="Password"/><br/><br/>
    <input type="password" name="confirm_password" placeholder="Confirm password"/><br/><br/>
    <input type="submit" value="Submit"/><br/>
  </form>
</div>
