<div class="container account">
  <form action="../users" method="POST">
    <input type="text" name="first_name" placeholder="First name"/>
    <input type="text" name="last_name" placeholder="Last name"/>
    <input type="text" name="email" placeholder="Email"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="password" name="confirm_password" placeholder="Confirm password"/>
    <input type="submit" value="submit"/>
  </form>
</div>