<div clas="container">

  <h2 id="place-name"><%= @destination.capitalize %>

    <span>
    <% if logged_in? %>
      <% if !@current_users_list.include?(@destination) %>
        <form id="add-to-wanderlist" action="../my_wanderlist/<%= @destination %>" method="POST">
        <input type="hidden" name="_method" value="put">
        <button class="wanderlist-button unselected" type="submit"><!-- Add to my wander list --></button>
        </form>

      <% else %>
        <form id="remove-from-wanderlist" action="../my_wanderlist/<%= @destination %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <button class="wanderlist-button selected" type="submit"><!-- Remove from my wander list --></button>
      </form>
      <% end %>
    <% end %>
    </span>
  </h2>

  <img src= <%= @link %> alt="Image of place"/>
</div>
