<div clas="container">

  <div id="main_image">
  <h2><%= @destination.capitalize %></h2>
  <img src= <%= @link %> alt="Image of place"/>
  </div>

  <section>
  <% if logged_in? %>
    <% if !@current_users_list.include?(@destination) %>
      <form action="../my_wanderlist/<%= @destination %>" method="POST">
      <input type="hidden" name="_method" value="put">
      <button class="wanderlist" type="submit">Add to my wander list</button>
      </form>

    <% else %>
      <form action="../my_wanderlist/<%= @destination %>" method="POST">
      <input type="hidden" name="_method" value="delete">
      <button class="wanderlist" type="submit">Remove from my wander list</button>
    </form>
    <% end %>
  <% end %>
  </section>
</div>
