<div clas="container">
  <form id="search_form" action="." method="POST">
    <input type="test" name="destination" placeholder="Where to?"/>
    <button type="submit">Take me there</button>
  </form>

  <div id="main_image">
  <img src="http://unsplash.com/photos/tAKXap853rY" width="200" height="267" alt="me">
  </div>
</div>
