<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="../../public/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="../../public/css/application.css">

  <link href='https://fonts.googleapis.com/css?family=Raleway:300|Merriweather:300' rel='stylesheet' type='text/css'>
  <title>Quottr</title>
</head>
<body>
  <header>  
        <nav class="follower-bar">
        <ul class="follower-list">
          <li><a href="user/5/followers">Followers</a></li>
          <li><a href="user/5/following">Following</a></li>
          <li><a href="logout">Logout</a></li>
        </ul>
      </nav>
    <div class="title">
      <div class="logo">
        <h1>クオ<br>テル</h1>
      </div>
      <div class="english">
        <h1><a href="/">Quottr</a></h1>
      </div>
    </div>
    <div class="front-profile">
      <img class="avatar" src="http://placehold.it/125x125">
      <h2 class="header-username"><strong>Kevin Serrano</strong></h2>
      <h3 class="header-handle">@zanibas</h3>
    </div>
  </header>
  <main>
    
    <div class="container">
      <div class="new-quot">
        <h3 class="post-as">Post as @zanibas</h3>
        <form method="post" action="/quot/new">
          <textarea class="new-quot-textarea" name="new-quot" cols="28" maxlength="140" rows=5></textarea>
          <input type="submit" value="クオット！" class="main-button">
        </form>
      </div>
      <ul class="tweet-list">
        <li class="quot-frame">
          <div class="quot-header">
            <img class="quot-avatar" src="http://placehold.it/50x50">
            <h4 class="username">Kevin Serrano</h4>
            <h4 class="handle">@zanibas</h4>
          </div>
          <p class="quot">Today was a good day. Free pizza and cohort bonding night is tomorrow! #blessed #hashtag #morehashtags @wly731 and @eddiebueno.</p>
          <form method="post" action="requot/new">
            <input type="submit" value="requot" class="main-button requot-button">
          </form>    
        </li>
        <li class="quot-frame">
          <div class="quot-header">
            <img class="quot-avatar" src="http://placehold.it/50x50">
            <h4 class="username">Victor Wong</h4>
            <h4 class="handle">@wly731</h4>
          </div>
          <p class="quot">@zanibas why you playing man. I wanted that free pizza! Also, are you going to wake up at 7 AM again?</p>
          <form method="post" action="requot/new">
            <input type="submit" value="requot" class="main-button requot-button">
          </form>
        </li>
        <li class="quot-frame">
          <div class="quot-header">
            <img class="quot-avatar" src="http://placehold.it/50x50">
            <h4 class="username">Eddie Bueno</h4>
            <h4 class="handle">@eddiebueno</h4>
          </div>
          <p class="quot">@wly731 how's the blender bottle?</p>
          <small class="requot-person">Requoted by Emmet</small>
          
          <form method="post" action="requot/new">
            <input type="submit" value="requot" class="main-button requot-button">
          </form>

        </li>
      </ul>
    </div>
  </main>
  <footer>
    <small>Copyright 2016 Quottr LLC GmbH</small>
  </footer>
</body>
</html>
