<div clas="container">
  <form id="search_form" action="." method="POST">
    <input type="test" name="destination" placeholder="Where to?"/>
    <button type="submit">Take me there</button>
  </form>

  <div id="main_image">
    <img src="http://dreamland.news/wp-content/uploads/2016/05/San-Francisco-California-by-Unplash-at-Pixabay.jpg"/>
  </div>
</div>
