<div clas="container">
  <form id="search_form" action="/destinations" method="POST">
    <input type="test" name="destination" placeholder="Where to?"/>
    <button type="submit">Take me there</button>
  </form>

  <div id="main_image">
  <img src= <%= @link %> alt="Image of place"/>
  </div>
</div>
