<div clas="container">
  <form id="search_form" action="." method="POST">
    <input type="test" name="destination" placeholder="Where to?"/>
    <button type="submit">Take me there</button>
  </form>

  <div id="main_image">
  <img src="http://cdn1-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-2.jpg">
  <img src= <%= @link %> alt="Image of place"/>
  </div>
</div>
