<div clas="container">
  <form id="search_form" action="/destinations" method="POST">
    <input type="test" name="destination" placeholder="Where to?"/>
    <button type="submit">Take me there</button>
  </form>

  <div id="main_image">
  <img src="https://hd.unsplash.com/photo-1452421822248-d4c2b47f0c81" alt="Image of place"/>
  </div>
</div>
