<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Triptyk</title>
</head>
<body>
  <div id="header">
  <header>
    <h1><a id="title" href="../">Triptyk</a></h1>
    [ not all who wander are lost ]
    <br/><br/>
    <span id="menu">
     <%= erb :'partials/_header' %>
    </span>
  </header>
  </div>
  <div class="main_content">
    <%= yield %>
  </div>
</body>
</html>
