
<%# if @errors %>
  <%#= @errors %>
<%# end %>

<form action="/login" method="post">
  <label>Email</label><br>
  <input type="text" name="email"><br>
  <label>Password</label><br>
  <input type="password" name="password"><br>
  <input type="submit" value="Login">
</form>
