<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="../../public/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="../../public/css/application.css">

  <link href='https://fonts.googleapis.com/css?family=Raleway:300|Merriweather:300' rel='stylesheet' type='text/css'>
  <title>Quottr</title>
</head>
<body>
  <header>  
    <h1 class="register">Register</h1>
    <div class="title">
      <div class="logo">
        <h1>クオ<br>テル</h1>
      </div>
      <div class="english">
        <h1><a href="/">Quottr</a></h1>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="container registration-form">
    <form method="post" action="user/new">
      <label for="username">Username</label><br>
      <input type="text" name="username"><br>
      <label for="full_name">Full Name</label><br>      
      <input type="text" name="full_name"><br>
      <label for="email">Email</label><br>
      <input type="text" name="email"><br>
      <label for="password">Password</label><br>
      <input type="password" name="pasword"><br>
      <input type="submit">
    </form>
    </div>
  </main>
  <footer>
    <small>Copyright 2016 Quottr LLC GmbH</small>
  </footer>
</body>
</html>