<div class="container">
  <img src="https://hd.unsplash.com/photo-1444090542259-0af8fa96557e"/>
  <div id="error_message"
  <p>Looks like your wandering got you lost!&nbsp;<a href="../">Take me home</a></p>
  </div>
</div>
