<div class="container">
  <img src="https://hd.unsplash.com/23/pink-sky.JPG"/>
  <div id="travel-resources">
  <div id="travel-top"
    <p><a href="https://www.roughguides.com/destinations/asia/india/itineraries/">Pick a Route</a></p>&nbsp;|&nbsp;
    <p><a href="http://www.travelindependent.info/what-to-pack-travel.htm">What to Pack</a></p>&nbsp;|&nbsp;
    <p><a href="http://www.momondo.com/">Book a Flight</a></p>&nbsp;|&nbsp;
    <p><a href="https://www.agoda.com"/>Where to Stay</a></p>
  </div>
  <div id="travel-bottom">
    <p><a href="https://www.couchsurfing.com/">Making Friends</a></p>&nbsp;|&nbsp;
    <p><a href="http://www.travelindependent.info/countries.htm">Country Summaries</a></p>&nbsp;|&nbsp;
    <p><a href="https://www.worldnomads.com/">Travel Insurance</a></p>
  </div>
  </div>
</div>
