<div clas="container">

  <img src="https://static.pexels.com/photos/6675/flight-mountains-sky-flying.jpeg"/>

  <div class=wanderlist">
    <% @trips.each do |trip| %>
    <p><a href="../destinations/<%= trip.destination.name %>"><%= trip.destination.name %></a></p>
    <% end %>
  </div>

</div>
